{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Add Trip</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="">
    <meta name="description" content="">

    <!-- Favicon -->
    <link rel="icon" href="{% static 'img/favicon.ico' %}">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Roboto:wght@500;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>

<body>
    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-white navbar-light shadow border-top border-5 border-primary sticky-top p-0">
        <a href="{% url 'index' %}" class="navbar-brand bg-primary d-flex align-items-center px-4 px-lg-5">
            <h2 class="mb-2 text-white">Sikar Cargo</h2>
        </a>
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto p-4 p-lg-0">
                <a href="{% url 'index' %}" class="nav-item nav-link">Home</a>
                <a href="{% url 'about' %}" class="nav-item nav-link">About</a>
                <a href="{% url 'service' %}" class="nav-item nav-link">Services</a>
                <a href="{% url 'dashboard' %}" class="nav-item nav-link">Dashboard</a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle active" data-bs-toggle="dropdown">Admin</a>
                    <div class="dropdown-menu fade-up m-0">
                        <a href="{% url 'add_company' %}" class="dropdown-item">Add Company</a>
                        <a href="{% url 'add_trip' %}" class="dropdown-item">Add Trip</a>
                        <a href="{% url 'admin_login' %}" class="dropdown-item">Admin Login</a>
                    </div>
                </div>
                <a href="{% url 'contact' %}" class="nav-item nav-link">Contact</a>
            </div>
            <h4 class="m-0 pe-lg-5 d-none d-lg-block"><i class="fa fa-headphones text-primary me-3"></i>+971 55 251 6492</h4>
        </div>
    </nav>
    <!-- Navbar End -->

    <div class="container mt-5">
        <h2 class="text-center mb-4">Add Trip</h2>
        <div class="col-lg-7 mx-auto">
            <div class="bg-light p-5 text-center wow fadeIn" data-wow-delay="0.5s">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                    {% endfor %}
                {% endif %}
                {% if form.errors %}
                <div class="alert alert-danger">
                    <ul>
                    {% for field, errors in form.errors.items %}
                        {% for error in errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                    </ul>
                </div>
                {% endif %}
                <form method="post">
                    {% csrf_token %}
                    <div class="row g-3">
                        <div class="col-12 col-sm-6">
                            {{ form.company|as_crispy_field }}
                        </div>
                        <div class="col-12 col-sm-6">
                            {{ form.date|as_crispy_field }}
                        </div>
                        <div class="col-12 col-sm-6">
                            {{ form.freight|as_crispy_field }}
                        </div>
                        <div class="col-12 col-sm-6">
                            {{ form.origin|as_crispy_field }}
                        </div>
                        <div class="col-12">
                            {{ form.destination|as_crispy_field }}
                        </div>
                        <div class="col-12">
                            {{ form.amount|as_crispy_field }}
                        </div>
                        <div class="col-12">
                            {{ form.driver|as_crispy_field }}
                        </div>
                        <div class="col-12">
                            {{ form.toll_gate|as_crispy_field }}
                        </div>
                        <div class="col-12">
                            <button class="btn btn-primary w-100 py-3" type="submit">Submit</button>
                        </div>
                    </div>
                </form>
                <div id="status"></div>
            </div>
        </div>
    </div>
    <!-- Add Trip Form End -->

    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-light footer pt-5 wow fadeIn" data-wow-delay="0.1s" style="margin-top: 6rem;">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-light mb-4">Address</h4>
                    <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>G1 Office, Deira Naif, Dubai, UAE</p>
                    <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+971 55 238 1722, +971 55 251 6492</p>
                    <p class="mb-2"><i class="fa fa-envelope me-3"></i>Sikarcargo@gmail.com</p>
                    <div class="d-flex pt-2">
                        <a class="btn btn-outline-light btn-social me-2" href="#"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-outline-light btn-social me-2" href="#"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-outline-light btn-social me-2" href="#"><i class="fab fa-youtube"></i></a>
                        <a class="btn btn-outline-light btn-social" href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-light mb-4">Services</h4>
                    <a class="btn btn-link" href="{% url 'quote' %}" class="text-light text-decoration-none">One Ten Pickup Freight</a>
                    <a class="btn btn-link" href="{% url 'quote' %}" class="text-light text-decoration-none">Three Ten Pickup Freight</a>
                    <a class="btn btn-link" href="{% url 'quote' %}" class="text-light text-decoration-none">Seven Ten Pickup Freight</a>
                    <a class="btn btn-link" href="{% url 'quote' %}" class="text-light text-decoration-none">Ten Ten Pickup Freight</a>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-light mb-4">Quick Links</h4>
                    <a class="btn btn-link" href="{% url 'about' %}">About Us</a>
                    <a class="btn btn-link" href="{% url 'contact' %}">Contact Us</a>
                    <a class="btn btn-link" href="{% url 'quote' %}">Quote</a>
                    <a class="btn btn-link" href="{% url 'service' %}">Our Services</a>
                    <a class="btn btn-link" href="{% url 'contact' %}">Get In Touch</a>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="copyright">
                <div class="row">
                    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                        &copy; <a class="border-bottom" href="#">Sikar Cargo</a>, All Right Reserved.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->

    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-0 back-to-top"><i class="bi bi-arrow-up"></i></a>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'lib/wow/wow.min.js' %}"></script>
    <script src="{% static 'lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
    <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>

    <!-- Template Javascript -->
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>
